.instagram_feed {
  overflow: hidden;
}
.instagram_feed .instagram_new {
  width: 16.666%;
  float: left;
  padding: 0 1px 1px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.instagram_feed .instagram_new.insta-video-wr {
  position: relative;
}
.instagram_feed .instagram_new.insta-video-wr video,
.instagram_feed .instagram_new.insta-image-wr img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
.instagram_feed img.insta-image {
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}
.instagram_feed .insta-link {
  position: relative;
  display: block;
  background: #232323;
  padding-top: 100%;
}
.instagram_feed .insta-link:hover .insta-image {
  opacity: 0.2;
}
