{%
  set classes = [
  'instagram-lite-block',
]
%}

<div{{ attributes.addClass(classes) }}>
  {% if posts %}
    <div class="instagram-lite-block--contents__items instagram_feed">
      {% for post in posts %}
        {% if post.media_type == 'VIDEO' %}
          <div class="instagram_gallery instagram_new insta-video-wr">
            <a href="{{ post.permalink }}" class="insta-link" rel="noopener" target="_blank">
              <video class="{{ post.video_class|join(' ') }}"
                     poster="{{ file_url(post.thumbnail_url) }}"
                     {% if autoplay == 1 %}autoplay="autoplay"{% endif%}
                     loop="loop"
                     muted="muted"
                     width="640"
                     height="480"
                     playsinline="playsinline">
                <source {{ use_blazy==true ? 'data-' }}src="{{ file_url(post.media_url) }}" type="video/mp4">
              </video>
            </a>
            {% if post_caption == 1 %}
              <div class="insta-image-caption">{{ post.caption }}</div>
            {% endif%}
          </div>
        {% else %}
          <div class="instagram_gallery instagram_new insta-image-wr">
            {% set image = {
              '#theme':      'image',
              '#uri':        use_blazy ? 'data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20viewBox%3D"0%200%201%201"%2F%3E' : post.media_url,
              '#alt':        post.caption,
              '#attributes': post.attributes,
            } %}
            {{ link(image, post.permalink, { 'class':['insta-link'], 'rel': 'noopener', 'target': '_blank'} ) }}
            {% if post_caption == 1 %}
              <div class="insta-image-caption">{{ post.caption }}</div>
            {% endif%}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}

  {% if links %}
    <div class="instagram-lite-block--contents__links">
      {{ links }}
    </div>
  {% endif %}
</div>
